/target
/logs
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.dir-locals.el
/profiles.clj
local.edn
local.clj
package.json
package-lock.json
shadow-cljs.edn
.shadow-cljs
.idea
*.iml
public/js
node_modules
